<!DOCTYPE html>
<head>
    <title>LMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<%- include('navbar.ejs', { currentPage: 'academy' }) %>
<div class="container" style="height: fit-content;margin-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title mb-4 mt-4" style="font-family: 'Raleway';font-weight: bold;font-size: 40px;">Nos formations</h4>
                <p class="text-muted para-desc mx-auto mb-0">Ici vous trouvez nos forations.</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <% if (formations.length > 0) { %>
            <% formations.forEach(formation => { %>
                  <!-- Modal -->
                  <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered justify-content-center " role="document">
                        <div class="modal-content  border-0">   
                            <div class="modal-body  p-0">
                                <div class="card text-center">
                                    <div class="card-header pb-0 bg-white border-0"><div class="row"><div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div> </div><img style="scale: 0.5;" src="../assets/images/lms-logo-removebg-preview.png" class="img-fluid" /> <h3>Pofitez pleinement de nos formations</h3></div>
                                    <div class="card-body ">
                                        <p class="text-muted mb-0">Pour avoir une meilleur esperience d'apprentissage vueillez entrer vos informations</p>    
                                        <div class="row justify-content-center mt-4 px-sm-5  ">
                                          <form id="userInfoForm" action="/souscription_form/<%= formation.id %>" method="post">
                                            <div class="form-group">
                                              <label for="userName">Nom :</label>
                                              <input type="text" class="form-control" id="userName">
                                            </div>
                                            <div class="form-group">
                                              <label for="userEmail">E-mail :</label>
                                              <input type="email" class="form-control" id="userEmail">
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" id="saveUserInfo" >Soumettre</button>
                                            </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" >
            <div class="card service-wrapper border-5 shadow p-6" style="height: 300px;border-radius: 50px;">
                <div class="icon text-center text-custom h1 shadow rounded bg-white">
                    <span class="uim-svg" style=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em"><rect width="20" height="15" x="2" y="3" class="uim-tertiary" rx="3"></rect><path class="uim-primary" d="M16,21H8a.99992.99992,0,0,1-.832-1.55469l4-6a1.03785,1.03785,0,0,1,1.66406,0l4,6A.99992.99992,0,0,1,16,21Z"></path></svg></span>
                </div>
                <div class="content mt-4">
                    <h5 class="title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 30px;color: #0062ff;"><%= formation.titre %></h5>
                    <p class="text-muted mt-3 mb-0" style="font-family: 'Kanit';"><% const truncatedContent = formation.description.substring(0, 60); %>
                        <%= truncatedContent %>...</p>
                    <div class="mt-3" style="text-align: center;display: flex;justify-content: center;">
                        <a href="/formation/<%= formation.id %>" class="btn btn" data-toggle="modal" data-target="#my-modal" style="background-color: #0062ff;border-radius: 50%;color: white;text-align: center;scale: 1.4;"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="big-icon h1 text-custom">
                    <span class="uim-svg" style=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em"><rect width="20" height="15" x="2" y="3" class="uim-tertiary" rx="3"></rect><path class="uim-primary" d="M16,21H8a.99992.99992,0,0,1-.832-1.55469l4-6a1.03785,1.03785,0,0,1,1.66406,0l4,6A.99992.99992,0,0,1,16,21Z"></path></svg></span>
                </div>
            </div>
        </div><!--end col-->
        <% }); %>
            <% } else { %>
                <p>Aucune formation n'est disponible pour le moment.</p>
                
            <% } %>
    </div><!--end row-->



</div>
<%- include('footer.ejs') %>

<style>
    body{margin-top:20px;
background:#eee;
}
.service-container {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .icon {
  margin-top: 5%;
  font-size: 38px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 {
  height: 70px;
  width: 70px;
  line-height: 80px;
  border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
  border-color: #f89d36 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 i {
  font-size: 30px;
}

.service-container .number-icon .number {
  position: absolute;
  top: 0;
  right: 70px;
  left: 0;
  height: 35px;
  width: 35px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container .number-icon .number span {
  line-height: 30px;
}

.service-container .content .number {
  font-size: 40px;
  color: #dee2e6;
}

.service-container .content .title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container.hover-bg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-container.hover-bg .smooth-icon {
  position: absolute;
  bottom: -40px;
  right: -20px;
  font-size: 60px;
  color: #f8f9fa;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.service-container.hover-bg:hover {
  background-color: #f89d36;
}

.service-container.hover-bg:hover .content .title {
  color: #ffffff !important;
}

.service-container.hover-bg:hover .content .serv-pera {
  color: #fafafb !important;
}

.service-container.hover-bg:hover .smooth-icon {
  font-size: 100px;
  opacity: 0.2;
  bottom: -20px;
  right: 10px;
}

.service-container:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
          box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
}

.service-container:hover .icon {
  color: #f89d36;
  -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
}

.service-container:hover .number-icon .icon-2 {
  background-color: #f89d36;
  border-radius: 50% !important;
}

.service-container:hover .number-icon .icon-2 i {
  color: #ffffff !important;
}

.service-container:hover .number-icon .number {
  color: #ffffff;
  background: #f89d36 !important;
  border-color: #ffffff !important;
}

.service-container:hover .content .title {
  color: #f89d36;
}

.service-container a:hover,
.service-container a .title:hover {
  color: #f89d36 !important;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.service-wrapper {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper .icon {
  width: 60px;
  height: 60px;
  line-height: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper .content .title {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
}

.service-wrapper .big-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.service-wrapper:hover {
  -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
          box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
  background: #ffffff;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  border-color: transparent !important;
}

.service-wrapper:hover .icon {
  background: #0062ff !important;
  color: #ffffff !important;
}

.service-wrapper:hover .big-icon {
  z-index: -1;
  opacity: 0.1;
  font-size: 160px;
}

.text-custom {
    color: #0062ff !important;
}

.uim-svg {
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
    font-size: inherit;
    fill: var(--uim-color, currentColor);
}



h3{
    color: #9E9E9E;
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
}


button:focus {
    box-shadow: none !important;
    outline-width: 0;
}



img{
    width: 80px ;
}

.btn-primary{
    background:#04A79C;
    color: #fff !important;
    border-radius:0 !important;
    padding-top: calc(5px + 6 * ((100vw - 320px) / 680)) ;
    padding-bottom: calc(5px + 6 * ((100vw - 320px) / 680));
    border: 0px ;

}

.btn-primary:hover{
    background:#04A79C;
}
.btn-primary:focus{
    background:#04A79C !important;
}

small{
    letter-spacing: 2px;
}

.touch{
    color:#04A79C;
    cursor: pointer;
}

.plan{
    text-align: center !important;
    vertical-align: middle !important;
    font-size:calc(8px + 3 * ((100vw - 320px) / 680));
}

.btn-inverse {
    border: 1px solid #aaaa;
    background-color: transparent;
    border-radius:0;
    letter-spacing: 1px;
    padding-top: calc(5px + 6 * ((100vw - 320px) / 680)) ;
    padding-bottom: calc(5px + 6 * ((100vw - 320px) / 680));
}

.btn-inverse:hover {
    background-color: #04A79C;
    color: #fff !important;
}

@media (max-width: 726px) {
    .card{
        width: unset;
    } 
}

</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const saveUserInfoButton = document.getElementById('saveUserInfo');
    const userNameInput = document.getElementById('userName');
    const userEmailInput = document.getElementById('userEmail');
  
    saveUserInfoButton.addEventListener('click', function() {
      const userName = userNameInput.value;
      const userEmail = userEmailInput.value;
      // Stockez les informations dans la session
      sessionStorage.setItem('userName', userName);
      sessionStorage.setItem('userEmail', userEmail);
      
      // Fermez le modal
      $('#myModal').modal('hide');
    });
  });
  </script>
  
</body>